@media screen and (max-width:480px) {   /* Check http://www.websitedimensions.com/ */
  * {
    float: none;
  }
  
  .xs-hide {
    display: none;
  }
  
  .xs-show {
    display: block;
  }
  
  header {
    height: auto;
  }
  div#wrapper, div#header, div#container, nav, div#content {
    width: 100%;
  }

  ul.nav li, ul.nav a {
    width: 100%;
  }
  
}  