* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  padding-top:0 !important;
  font:12px Aral, Helvetica, sans-serif;
  color:#000000;
  background:#343F59 !important;
  line-height:17px;  
}

ul {
  margin: 0;
  padding: 0;
}

/* Layout: */

/* wrapper */
#wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 0px 13px 0px 13px;
  background: url(../img/main_bg.gif) repeat-y;
  /* border: 1px solid red; */
}

#main{
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
}

/* header */
header {
  position:relative;
  height: 300px;
  padding: 0px 0px 0px 0px;
  background: url(../img/header1.png)  no-repeat;
  background-size: 100% 100%;
  display: block;
  /* border: 1px solid blue; */
}

#headerLeftDiv{  
  text-align: center;
  padding-left: 40px;
  padding-top: 0px;
  height: 118px;
}

a#headerH1 {
  font-family: Arial, Helvetica, sans-serif;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  padding-top: 20px;
  padding-left:0px;
  text-align: center;
  text-transform: lowercase;
  display: inline-block !important;
  float: left !important;
  color: white;
  font-weight: bold !important;
  font-size: 2.3em;
  margin-top: 10px !important;
  /* border: 1px solid red; */
}
a#headerH1:hover{
  text-decoration:underline;
}

img#logo{
  display: inline-block;
  float: left;
  width: 60px;
  height: 60px;
  margin-top:10px;
}

#headerLeftDiv a{  
  color: white;
  text-decoration: none;      
  text-align: center;
  border-bottom: none;
  margin-left:-10px;
}

#headerLeftDiv a:hover{
  text-decoration: underline;
  
}

nav#navTop {
  margin-top: 20px;
  margin-left: 20px;
  /* border: 1px solid green; */
}

#fblike{
  width:340px;  
  position:absolute;
  left:10px;
  bottom:10px;
  display:inline-block;
}

input#linkfb{
  color:white;
  background-color: #4267b2;
  border:1px solid #4267b2;
  border-radius:4px;
  text-decoration:none;
  font-size:14px;
  width:100px;
  height:100%;
  padding:0 4px 0 6px;
  cursor: pointer;
}

input#linkfb:hover{
  background-color: #365899;
}

.headerMsg{
  font-size: 2em;
  float: right;
  margin-right:100px;
  color: white;
}

/* header end */


/* body */
div#container {
  width: 100%;
  padding:8px 0px 8px 0px;
  background:url(../img/cont.jpg) 0px 0px;
  margin:0px 0px 0px 0px;
  /* border: 1px solid yellow; */
}



div#content {
  width: 100%;
  padding: 20px;
  position:relative;
  min-height:1px;
  padding-right: 15px;
  padding-left:15px;
  /* border: 1px solid black; */
}

div#left{
  margin-left:0 !important;
  width: 66.5%;
  margin: 0px 0px 0px 11px;
  float: left;
  color: #000000;
}

.text{
  padding:0px 0px 0px 0px;
}

.tit_bot{
  background:url(../img/tit_bot.png)left top no-repeat;
  padding:0px 8px 0px 8px;
  background-cover:cover;
}

.mainBlock{
  max-height: 200px;
  overflow:hidden;
}

#left H1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #294d01;
  padding: 15px 0px 15px 0px;
  text-transform: lowercase;
}

p.cjk{
  margin-bottom: 0xm;
  line-height: 100%;
  text-align: left;  
}

p.cjk span{
  font-family: 微軟正黑體;
  font-size: 12pt;
  color:#294d01;
  font-weight: bold;
}

.read{
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
  font-weight: bold;
  text-decoration: none;
}

.read a{
  color:#343f59;
  text-decoration: underline;
}

#right{
  margin-right: 0!important;
  float: right;
  width: 28.99%;
  padding: 0px 0px 0px 0px;
}

#right H1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #294d01;
  text-align: left;
  padding: 15px 0px 15px 0px;
  text-transform: lowercase;
}


/* body end */


/* footer*/

footer{
  width: 100%;
  background-color:#ffffff;
  margin-bottom: 2px;
}

#footer{
  height: 110px!important;  
  margin-bottom: -30px!important;  
  font-size: 12px;
  color: #ffffff ;
  text-align: center;
  clear: both;
  background:url(../img/footer.jpg)left bottom no-repeat;  
}




/* footer end*/


nav#navBottom {
  padding: 20px;
  text-align: center;
  background-color: #d0d0d0;
  /* border: 1px solid green; */
}

.floatLeft {
  float: left;
}

.marginRight10 {
  margin-right: 10px;
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.xs-show {
  display: none;
}

.xs-hide {
  display: block;
}

div{
  display: block;
}
