{% extends "admin/admin.html" %}
{% load staticfiles %}

{% block content %}
<h2>選擇 頁面 來變更</h2>
{% if not page %}
<form method=get action="{% url 'admin:pageCreate' %}" id=addPage>
  <select name=pageType>
    <option selected disabled>新增...</option>
    <option value={{PAGE}}>{{PAGE}}</option>
    <option value={{LIST}}>{{LIST}}</option>
    <option value={{APP}}>{{APP}}</option>
  </select>
</form>
{% else %}
<form method=get action="{% url 'admin:itemCreate' page.id %}">
  <input type=submit value='新增 {{page.name}} 項目'>
</form>
<form method=get action="{% url 'admin:pageDelete' page.id %}">
  <input type=submit value='刪除 {{page.name}}'>
</form>
{% endif %}

{% if menus %}
  <ul class=contentPage>
  {% for mainMenu in menus %}
    {% for subMenu in mainMenu %}      
       <li name={{subMenu.mainMenuOrder}}-{{subMenu.subMenuOrder}}>
        <div class=item>
        <a href="{% url 'admin:pageDetail' subMenu.id %}">{{subMenu.name}}</a>
        <span id='{{subMenu.id}}' class=pageTools>
          <img class=up src="{% static 'admin/img/up.png' %}" title=上移一層>
          <img class=down src="{% static 'admin/img/down.png' %}" title=下移一層>
          <img class=left src="{% static 'admin/img/left.png' %}" title=左移一層>
          <img class=right src="{% static 'admin/img/right.png' %}" title=右移一層>
          <a href="{% url 'admin:pageDelete' subMenu.id %}"><img class=deleteTool src="{% static 'admin/img/X.png' %}" title=刪除></a>
        </span>
        </div>
      
      {% if subMenu.showLeft and not forloop.first %}
        </li>
      {% endif %}
      {% if forloop.counter0 == 0 and mainMenu|length > 1 %}
        <ul>
      {% endif %}         
      {% if forloop.last and mainMenu|length > 1 %}
        </ul>
      {% endif %}
    {% endfor %}
    </li>
  {% endfor %}
{% endif %}
  
{% if page %}
  選擇 {{page.name}}項目 來變更
  <ul class=contentPage>
  {% for item in items %}
    <li>
      <a href="{% url 'admin:itemDetail' item.id %}">{{item.name}}</a>
      <span class=pageTools>
        <a href="{% url 'admin:itemDelete' item.id %}"><img class=deleteTool src="{% static 'admin/img/X.png' %}" title=刪除></a>
      </span>
    </li>
  {% endfor %}
  </ul>
{% endif %}

<h2>首頁內容管理</h2>
<p><a href="{% url 'admin:presidentDetail' %}">1.{{ presidentIntro.name }}管理</a></p>
<p><a href="{% url 'admin:wordsDetail' %}">2.{{ words.name }}管理</a></p>
<p><a href="{% url 'admin:targetDetail' %}">3.{{ target.name }}管理</a></p>
<p><a href="{% url 'admin:regularMeetingDetail' %}">4.{{ regular.name }}管理</a></p>
{% endblock %}


{% block script %}
<script>

$(document).ready(function(){
  $(document).on('change', 'select[name=pageType]', function(){
    $('#addPage').submit();
  });
  
  $(document).on('click', '.up, .down, .left, .right', function(){
    var action = $(this).attr('class');
    var $this = $(this).parent('span').parent('div').parent('li');
    var order = $this.attr('name').split('-')
    var thisMainOrder = order[0];
    var thisSubOrder = order[1];
    var $that;
    var thatMainOrder;
    var thatSubOrder;
    
    if(action=='up'){
      if(thisSubOrder==0){  //是主選單
        if(thisMainOrder==1){   //第1個主選單不能動
          return false;
        }
        $that = $this.prev();
        swapMainMenu($this, thisMainOrder, thisSubOrder, $that, $(this).attr('class'));
        
      }else{  //是子選單
        if(thisMainOrder==1 && thisSubOrder==1){   //如果是第一個主選單中的第一個子選單，不能往上
          return false;
        }
        if(thisSubOrder==1){  //如果是第一個子選單，要移到上一個主選單項下
          $that = $this.parent('ul').parent('li').prev();
        }else{
          $that = $this.prev();
        }
        swapSubMenu($this, thisMainOrder, thisSubOrder, $that, $(this).attr('class'));
      }
    }
    else if(action=='down'){
      if(thisSubOrder==0){   //如果是主選單
        if($this.is(':last-child')){   //而且是最後一個主選單，不能往下
          return false;
        }
        $that = $this.next();
        swapMainMenu($this, thisMainOrder, thisSubOrder,  $that, action)
      }else{    //是子選單
        if($this.is(':last-child')){  //如果是最後一個子選單
          if(!$this.parent('ul').parent('li').is(':last-child')){   //而且下面還有其他選單，移到下一個主選單項下
            $that = $this.parent('ul').parent('li').next();
          }else{    //最後一個子選單且下面沒有其他選單，不動作
            return false;
          }
        }else{
          $that = $this.next();
        }
        swapSubMenu($this, thisMainOrder, thisSubOrder, $that, action)
      }
    }
    else if(action=='left'){
      if(thisSubOrder==0){   //如果是主選單，不能往左
        return false;
      }else{    //是子選單
        /*if($this.next().length!=0){    //如果子選單後面還有其他子選單，不能往左
          return false;
        }*/
        if($this.is(':last-child')){    //如果是最後一個子選單，可以左移成為主選單
          $that = $this.parent('ul').parent('li').next();
          swapSubMenu($this, thisMainOrder, thisSubOrder, $that, action)
        }
      }
      
    }
    else if(action=='right'){
      if(thisSubOrder==0){   //如果是主選單
        if($this.find('ul').find('li').length!=0){   //而且有子選單，不能往右
          return false;
        }
        if(thisMainOrder==1){   //第一個主選單不能往右
          return false;
        }
        $that = $this.prev();
        swapMainMenu($this, thisMainOrder, thisSubOrder,  $that, action)
      }else{    //是子選單，不能往右(再次成為子選單)
        return false;
      }
    }
    
  });
  
  //子選單的換位置&重命名
  function swapSubMenu($this, thisMainOrder, thisSubOrder, $that, action){
    var thatMainOrder, thatSubOrder;
    if($that.length!=0){
      thatMainOrder = parseInt($that.attr('name').split('-')[0]);
      thatSubOrder = parseInt($that.attr('name').split('-')[1]);  
    }
    var changeOrders = ''
    if(action=='up'){
      if(thisMainOrder==thatMainOrder){   //如果主選單是一樣的，代表是同一個主選單的子單在上移
        changeOrders += $this.children('div').children('span').attr('id')+'-'+$that.attr('name')+', ';
        changeOrders += $that.children('div').children('span').attr('id')+'-'+$this.attr('name');
        
      }else{    //否則就是移到上一個主選單的子選單
        if($that.children('ul').children('li:last-child').length!=0){   //如果已有ul li
          //$that = $that.children('ul').children('li:last-child');    要把同樣的$that送到update再做一次判斷
          thatMainOrder = $that.children('ul').children('li:last-child').attr('name').split('-')[0];
          thatSubOrder = parseInt($that.children('ul').children('li:last-child').attr('name').split('-')[1]);
        }
      
        var subMenu, subOrderNum;
        subMenu = $('.contentPage').children('li').eq(thisMainOrder-1).children('ul').children('li');  //被改變的整個ul子選單要重新命名       
        $.each(subMenu, function(){
          subOrderNum = parseInt($(this).attr('name').split('-')[1]);
          if(subOrderNum > thisSubOrder){
            changeOrders += $(this).children('div').children('span').attr('id')+'-'+thisMainOrder+'-'+(subOrderNum-1)+', ';
            $(this).attr('name', thisMainOrder+'-'+(subOrderNum-1));
          }
        });        
        changeOrders += $this.children('div').children('span').attr('id')+'-'+thatMainOrder+'-'+(thatSubOrder+1)+', ';
                
      }
    }else if(action=='down'){
      if(thisMainOrder==thatMainOrder){   //如果主選單是一樣的，代表是同一個主選單的子單在下移
        changeOrders += $this.children('div').children('span').attr('id')+'-'+thatMainOrder+'-'+thatSubOrder+', ';
        changeOrders += $that.children('div').children('span').attr('id')+'-'+thisMainOrder+'-'+thisSubOrder;
      }else{    //否則就是移到下一個主選單的子選單
        if($that.children('ul').children('li:first-child').length!=0){   //如果已有ul li
          thatMainOrder = parseInt($that.children('ul').children('li:first-child').attr('name').split('-')[0]);
          thatSubOrder = parseInt($that.children('ul').children('li:first-child').attr('name').split('-')[1]);
          
          var subMenu, subOrderNum;
          subMenu = $('.contentPage').children('li').eq(thatMainOrder-1).children('ul').children('li');  //被改變的整個ul子選單要重新命名  
          $.each(subMenu, function(){
            subOrderNum = parseInt($(this).attr('name').split('-')[1]);            
            changeOrders += $(this).children('div').children('span').attr('id')+'-'+thatMainOrder+'-'+(subOrderNum+1)+', ';
            $(this).attr('name', thatMainOrder+'-'+(subOrderNum+1));
          });          
        }
        changeOrders += $this.children('div').children('span').attr('id')+'-'+thatMainOrder+'-1, ';
        
      }
    }else if(action=='left'){
      if($that.length==0){  //沒有$that(下一個) 代表是最後一個主選單的最後一個子選單
        $that = $this.parent('ul').parent('li');
        thatMainOrder = parseInt($that.attr('name').split('-')[0]);
        thatSubOrder = parseInt($that.attr('name').split('-')[1]);
        
        changeOrders += $this.children('div').children('span').attr('id')+'-'+(thatMainOrder+1)+'-0';
        updateSubMenuOrder($this, $that, thisMainOrder, thisSubOrder, thatMainOrder, thatSubOrder, action, changeOrders)
        return false;
      }
      
      changeOrders += $this.children('div').children('span').attr('id')+'-'+thatMainOrder+'-0, ';
      changeOrders += $that.children('div').children('span').attr('id')+'-'+(thatMainOrder+1)+'-0, ';
      
      var allMainMenu, mainOrderNum, allSubMenu, subOrderNum;
      allMainMenu = $('.contentPage').children('li');
      
      $.each(allMainMenu, function(index){   //某一子單變成主選單後，其後的選單編號都要+1 （子選單也要改mainOrder）
        if(index+1 > thatMainOrder){
          mainOrderNum = parseInt($(this).attr('name').split('-')[0]);
          changeOrders += $(this).children('div').children('span').attr('id')+'-'+(mainOrderNum+1)+'-0, ';
          $(this).attr('name', (mainOrderNum+1)+'-0');
          
          //changeOrders += $(this).children('div').children('span').attr('id')+'-'+(index+1)+'-0, ';
          //$(this).attr('name', (index+1)+'-0');
          allSubMenu = $(this).children('ul').children('li');
          //rename(allSubMenu, index+1)
          rename(allSubMenu, mainOrderNum+1)
        }
      });
    }
    updateSubMenuOrder($this, $that, thisMainOrder, thisSubOrder, thatMainOrder, thatSubOrder, action, changeOrders)
  }
  
  
  //主選單的換位置&重命名
  function swapMainMenu($this, thisMainOrder, thisSubOrder, $that, action){
    var thisMainOrder = thisMainOrder;
    var thisSubOrder = thisSubOrder;
    var thatMainOrder, thatSubOrder;
    var changeOrders = '';
    
    if(action=='right'){   //變成子選單
      thatMainOrder = parseInt($that.attr('name').split('-')[0]);
      var lastChild = $that.children('ul').children('li:last-child');
      if(lastChild.length!=0){
        lastChild = parseInt(lastChild.attr('name').split('-')[1]);
        changeOrders += $this.children('div').children('span').attr('id')+'-'+thatMainOrder+'-'+(lastChild+1)+', ';
      }else{
        changeOrders += $this.children('div').children('span').attr('id')+'-'+thatMainOrder+'-1, ';  
      }
            
      var allMainMenu, mainOrderNum, allSubMenu, subOrderNum;
      allMainMenu = $('.contentPage').children('li');
      
      $.each(allMainMenu, function(){   //某一主單變成子選單後，其後的選單編號都要-1 （子選單也要改mainOrder）
        mainOrderNum = parseInt($(this).attr('name').split('-')[0]);
        if(mainOrderNum > thatMainOrder){
          if(mainOrderNum==thisMainOrder){    //因為是先撈$this後面的page，所以這時候$this還在element裡面，要排除他，否則會把上面寫的changeOrders蓋掉
            return true;    //continue
          }
          changeOrders += $(this).children('div').children('span').attr('id')+'-'+(mainOrderNum-1)+'-0'+', ';
          $(this).attr('name', (mainOrderNum-1)+'-0');
          
          allSubMenu = $(this).children('ul').children('li');
          $.each(allSubMenu, function(){
            subOrderNum = $(this).attr('name').split('-')[1];
            changeOrders += $(this).children('div').children('span').attr('id')+'-'+(mainOrderNum-1)+'-'+subOrderNum+', '
            $(this).attr('name', (mainOrderNum-1)+'-'+subOrderNum);
          });
        }
      });
      updateMainMenuOrder($this, $that, thisMainOrder, thisSubOrder, action, changeOrders)
    }
    else if(action=='up' || action=='down'){
      changeOrders += $this.children('div').children('span').attr('id')+'-'+$that.attr('name')+', ';
      changeOrders += $that.children('div').children('span').attr('id')+'-'+$this.attr('name');
      updateMainMenuOrder($this, $that, thisMainOrder, thisSubOrder, action, changeOrders)
    }
  }
  
  
  //進view改主選單欄位順序，成功後改變頁面排序 & 改名 & 改其項下子選單的name
  function updateMainMenuOrder($this, $that, thisMainOrder, thisSubOrder, action, changeOrders){
    $.ajax({
      url: "{% url 'admin:changeOrder' %}",  
      type: 'POST',
      data: {
        'csrfmiddlewaretoken':'{{csrf_token}}', 
        'changeOrders': changeOrders,
      },
    })
    .done(function(){
      if(action=='up'){
        $that.before($this);
      }else if(action=='down'){
        $that.after($this);
      }else if(action=='right'){
        if($that.children('ul').children('li:first-child').length!=0){   //如果已有ul li
          $that = $that.children('ul').children('li:last-child');
          $that.after($this);
        }
        else if($that.children('ul').length!=0){   //只有ul
          $that.children('ul').append($this);
        }else{    //沒有li也沒有ul → 新增一個ul 並把$this塞進去
          $that.append('<ul></ul>');
          $that.children('ul').append($this);
        }
      }
      
      var thatMainOrder = $that.attr('name').split('-')[0];
      var thatSubOrder = $that.attr('name').split('-')[1];
      
      if(action=='up' || action=='down'){
        var temp = thisMainOrder;
        thisMainOrder = thatMainOrder;
        thatMainOrder = temp;
        
        $this.attr('name', thisMainOrder+'-0');
        $that.attr('name', thatMainOrder+'-0');
        rename($('.contentPage').children('li').eq(thisMainOrder-1).children('ul').children('li'), thisMainOrder);
        rename($('.contentPage').children('li').eq(thatMainOrder-1).children('ul').children('li'), thatMainOrder);  
      }else if(action=='right'){
        $this.attr('name', thatMainOrder + '-' + (parseInt(thatSubOrder)+1));
      }
      
    })
    .fail(function(){
      alert('變更失敗');
    });
  }
  
  //進view改主選單欄位順序，成功後改變頁面排序 & 改名 & 改其項下子選單的name
  function updateMainMenuOrder($this, $that, thisMainOrder, thisSubOrder, action, changeOrders){
    $.ajax({
      url: "{% url 'admin:changeOrder' %}",  
      type: 'POST',
      data: {
        'csrfmiddlewaretoken':'{{csrf_token}}', 
        'changeOrders': changeOrders,
      },
    })
    .done(function(){
      if(action=='up'){
        $that.before($this);
      }else if(action=='down'){
        $that.after($this);
      }else if(action=='right'){        
        if($that.children('ul').children('li:first-child').length!=0){   //如果已有ul li
          $that = $that.children('ul').children('li:last-child');
          $that.after($this);          
        }
        else if($that.children('ul').length!=0){   //只有ul
          $that.children('ul').append($this);
        }else{    //沒有li也沒有ul → 新增一個ul 並把$this塞進去
          $that.append('<ul></ul>');
          $that.children('ul').append($this);
        }
      }
      
      var thatMainOrder = $that.attr('name').split('-')[0];
      var thatSubOrder = $that.attr('name').split('-')[1];
      
      if(action=='up' || action=='down'){
        var temp = thisMainOrder;
        thisMainOrder = thatMainOrder;
        thatMainOrder = temp;
        
        $this.attr('name', thisMainOrder+'-0');
        $that.attr('name', thatMainOrder+'-0');
        rename($('.contentPage').children('li').eq(thisMainOrder-1).children('ul').children('li'), thisMainOrder);
        rename($('.contentPage').children('li').eq(thatMainOrder-1).children('ul').children('li'), thatMainOrder);  
      }else if(action=='right'){
        $this.attr('name', thatMainOrder + '-' + (parseInt(thatSubOrder)+1));
      }
      
    })
    .fail(function(){
      alert('變更失敗');
    });
  }
  
  
//進view改子選單欄位順序，成功後改變頁面排序 & 改名 & 改其項下子選單的name
  function updateSubMenuOrder($this, $that, thisMainOrder, thisSubOrder, thatMainOrder, thatSubOrder, action, changeOrders){
    
    $.ajax({
      url: "{% url 'admin:changeOrder' %}",  
      type: 'POST',
      data: {
        'csrfmiddlewaretoken':'{{csrf_token}}', 
        'changeOrders': changeOrders,
      },
    })
    .done(function(){
      if(action=='up'){
        if(thisMainOrder==thatMainOrder){   //如果主選單是一樣的，$that是前一個子項目
          $that.before($this);  
        }else{    //否則$that是前一個主選單
          if($that.children('ul').children('li:last-child').length!=0){   //判斷是主選單還是子選單，如果是主選單
            $that = $that.children('ul').children('li:last-child');    //如果項下有子選單代表是主選單(本系統最多兩層)
            $that.after($this);
          }else if($that.children('ul').length!=0){  //只有ul
            $that.children('ul').append($this);
          }else{  //沒有li也沒有ul → 新增一個ul 並把$this塞進去
            $that.append('<ul></ul>');      
            $that.children('ul').append($this);
          }
        }
        //把目前的項目更名
        if(thisMainOrder==thatMainOrder){
          $this.attr('name', thatMainOrder+'-'+thatSubOrder);
          $that.attr('name', thisMainOrder+'-'+thisSubOrder);
        }else{
          $this.attr('name', thatMainOrder+'-'+(thatSubOrder+1));
        }
        
      }else if(action=='down'){
        if(thisMainOrder==thatMainOrder){   //如果主選單是一樣的，代表是同一個主選單的子單在下移
          $that.after($this);
        }else{    //否則就是移到下一個主選單的子選單
          if($that.children('ul').children('li:first-child').length!=0){   //如果已有ul li
            $that = $that.children('ul').children('li:first-child');
            $that.before($this);
            
          }else if($that.children('ul').length!=0){  //只有ul
            $that.children('ul').append($this);
          }else{  //沒有li也沒有ul → 新增一個ul 並把$this塞進去
            $that.append('<ul></ul>');      
            $that.children('ul').append($this);
          }          
        }
        //把目前的項目更名
        if(thisMainOrder==thatMainOrder){
          $this.attr('name', thatMainOrder+'-'+thatSubOrder);
          $that.attr('name', thisMainOrder+'-'+thisSubOrder);
        }else{
          $this.attr('name', thatMainOrder+'-1');
        }
      }else if(action=='left'){
        if($this.parent('ul').parent('li').next().length==0){    //如果是最後一個主選單的最後一個子選單
          $that.after($this);
          $this.attr('name', (thatMainOrder+1)+'-0');
        }else{
          $that.before($this);
          $this.attr('name', thatMainOrder+'-0');
          $that.attr('name', (thatMainOrder+1)+'-0');
        }
        
        
      }
      
    })
    .fail(function(){
      alert('變更失敗');
    });
  }
  
  
  //主選單變動後，附屬的子選單編號要跟著改變
  function rename($menu, mainOrderNum){
    var $menu = $menu;
    var subOrderNum, $parentThis;
    
    $.each($menu, function(){
      subOrderNum = $(this).attr('name').split('-')[1];
      $.ajax({
        url: "{% url 'admin:changeOrder' %}",  
        type: 'POST',
        context: $(this),
        data: {
          'csrfmiddlewaretoken':'{{csrf_token}}',
          'changeOrders': $(this).children('div').children('span').attr('id')+'-'+mainOrderNum+'-'+subOrderNum,
        },
      })
      .done(function(){
        subOrderNum = $(this).attr('name').split('-')[1];
        $(this).attr('name', mainOrderNum+'-'+subOrderNum);
      })
      .fail(function(){
        alert('變更失敗');
      });
    });
  }
});

/*function handleError(){             //暫時把error隱藏住
  return true;
}
window.onerror = handleError;*/
</script>
{% endblock %}


